{%load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
<!--===============================================================================================-->
  {% block title %} {% endblock %}
	{% block extra_css %} {% endblock %}

</head>
<body>
	{% if usuario %}
		<div>
			<br />
		</div>
		<div class="container text-center">
			<div class= "row">
				<a href="../home">
					<div>
						<img margin-left="100" width="150" height="150" src="{% static 'images/logo.jpg' %}" />
					</div>
			</a>
				<div class = "col-sm-4">
					<br />
					<br />
					<h2 align-content: "center">Asesorias ULima</h2>
					<br />
					<div class="dropdown">
					  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    {{usuario.state}}
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" onclick="changeState('Disponible')">Disponible</a>
					    <a class="dropdown-item" onclick="changeState('Ocupado')">Ocupado</a>
							<a class="dropdown-item" onclick="changeState('Ausente')">Ausente</a>
					    <a class="dropdown-item" onclick="changeState('No disponible')">No disponible</a>
					  </div>
					</div>
				</div>
				<div class = "col-sm-4">
					<br /><br />
					<p> Bienvenido {{usuario.nombrepProfesor|upper}} </p>
					<p> ¿Que deseas hacer hoy? </p>
				</div>
						<div class = "col-sm-2">
							<a href="{% url 'profesor:log_out' %}" class="btn btn-warning">Log Off</a>
						</div>
			</div>
		</div>

		<br />
		<br />
	{% endif %}
  {% block body %}{% endblock %}

  <!--===============================================================================================-->
  <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/animsition/js/animsition.min.js'%}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/select2/select2.min.js'%}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/daterangepicker/moment.min.js'%}"></script>
  <script src="{% static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/countdowntime/countdowntime.js'%}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'js/main.js'%}"></script>
	<script>

			function changeState(state){
				console.log(state);
				$.post({
						url: "../change_state/",
						data : { state: state}
				})
				$("#dropdownMenuButton").html(state);
			}
	</script>
	{% block extra_js %} {% endblock %}

</body>
</html>
