{%load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
<!--===============================================================================================-->

</head>
<body>
	<div>
		<br />
	</div>
	<div class="container text-center">
		<div class= "row">
			<div>
				<a href="../home">
					<img margin-left="100" width="150" height="150" src="{% static 'images\logo.jpg' %}" />
				</a>
			</div>
			<div class = "col-sm-4">
				<br />
				<br />
				<h2 align-content: "center">Asesorias ULima</h2>
			</div>
			<div class = "col-sm-4">
				<br /><br />
				<p> Bienvenido {{usuario| upper}} </p>
				<p> ¿Que deseas hacer hoy? </p>
			</div>
					<div class = "col-sm-2">
						<button type="button" class="btn btn-warning">Log Off</button>
					</div>
	  </div>
	</div>

	<br />
	<br />

  <div>
    <div class="container">
      <h4>ASESORIAS PROGRAMADAS</h4>
      <br>
              <table>
								<tr>
									<th>Profesor</th>
									<th>Curso</th>
									<th colspan="2">Fecha y Hora</th>
									<th>Lugar</th>
								</tr>
                {% for favorito in favoritos %}
									<tr>
										<td>{{favorito.asesoria.codProfesor.nombrepProfesor}}</td>
								    <td>{{favorito.asesoria.codCurso.nombreCurso}}</td>
								    <td>{{favorito.asesoria.fechaAsesoria}}</td>
										<td>{{favorito.asesoria.horaInicio|time:'H:i'}}</td>
								    <td>{{favorito.asesoria.lugar.lugar}}</td>
								  </tr>
                {% endfor%}
							</table>
            <hr>
			<br>
			<h4>ASESORIAS PASADAS</h4>
			<ul></ul>
		</div>
	</div>
</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js'%}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js'%}"></script>

</body>
</html>
