{% extends "alumno/base.html" %}
{%load staticfiles %}

{% block title %} <title> Asesorías </title>{% endblock %}

{% block body %}
	<div>
		<br />
	</div>
	<div class="container text-center">
		<div class= "row">
			<div>
				<a href="../../home">
					<img margin-left="100" width="150" height="150" src="{% static 'images\logo.jpg' %}" />
				</a>
			</div>
			<div class = "col-sm-4">
				<br />
				<br />
				<h2 align-content: "center">Asesorias ULima</h2>
			</div>
			<div class = "col-sm-4">
				<br /><br />
				<p> Bienvenido {{usuario.nombre| upper}} </p>
				<p> ¿Que deseas hacer hoy? </p>
			</div>
					<div class = "col-sm-2">
						<a href="{% url 'alumno:log_out' %}" class="btn btn-warning">Log Off</a>
					</div>
	  </div>
	</div>

	<br />
	<br />

  <div>
    <div class="container">
			<br>
			<form method="post">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Comentario</label>
			    <input name="comment" type="text" class="form-control" placeholder="Ingresa un comentario" required>
			  </div>
				<div class="form-group">
			    <label for="exampleFormControlSelect1">Puntuación</label>
			    <select name="rate" class="form-control" id="exampleFormControlSelect1" required>
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
    </div>
	</div>
</div>


<div id="dropDownSelect1"></div>

{% endblock %}
