{% extends "alumno/base.html" %}
{%load staticfiles %}

{% block title %} <title> Historial </title>{% endblock %}

{% block body %}
	<div>
		<br />
	</div>
	<div class="container text-center">
		<div class= "row">
			<div>
				<a href="../home">
					<img margin-left="100" width="150" height="150" src="{% static 'images\logo.jpg' %}" />
				</a>
			</div>
			<div class = "col-sm-4">
				<br />
				<br />
				<h2 align-content: "center">Asesorias ULima</h2>
			</div>
			<div class = "col-sm-4">
				<br /><br />
				<p> Bienvenido {{usuario.nombre| upper}} </p>
				<p> ¿Que deseas hacer hoy? </p>
			</div>
					<div class = "col-sm-2">
						<a href="{% url 'alumno:log_out' %}" class="btn btn-warning">Log Off</a>
					</div>
	  </div>
	</div>

	<br />
	<br />

  <div>
    <div class="container">
      <h4>ASESORIAS PROGRAMADAS</h4>
      <br>
              <table>
								<tr>
									<th>Profesor</th>
									<th>Curso</th>
									<th colspan="2">Fecha y Hora</th>
									<th>Lugar</th>
									<th>Acción</th>
								</tr>
                {% for cita in citas %}
									<tr>
										<td>{{cita.asesoria.codProfesor.nombrepProfesor}}</td>
								    <td>{{cita.asesoria.codCurso.nombreCurso}}</td>
								    <td>{{cita.asesoria.fechaAsesoria}}</td>
										<td>{{cita.asesoria.horaInicio|time:'H:i'}}</td>
								    <td>{{cita.asesoria.lugar.lugar}}</td>
										<td>
											<a href="{% url 'alumno:eliminar_cita' cita.pk %}" class="btn btn-info" >Eliminar</a>
										</td>
								  </tr>
                {% endfor%}
							</table>
            <hr>
			<br>
			<h4>ASESORIAS PASADAS</h4>
			<ul></ul>
		</div>
	</div>
</div>


	<div id="dropDownSelect1"></div>
{% endblock %}
