{% extends "alumno/base.html" %}
{%load staticfiles %}

{% block title %} <title> Home </title>{% endblock %}

{% block body %}
	<div>
		<br />
	</div>
	<div class="container text-center">
		<div class= "row">
			<div>
				<img margin-left="100" width="150" height="150" src="{% static 'images\logo.jpg' %}" />
			</div>
			<div class = "col-sm-4">
				<br />
				<br />
				<h2 align-content: "center">Asesorias ULima</h2>
			</div>
			<div class = "col-sm-4">
				<br /><br />
				<p> Bienvenido {{usuario.nombre|upper}} </p>
				<p> ¿Que deseas hacer hoy? </p>
			</div>
					<div class = "col-sm-2">
						<a href="{% url 'alumno:log_out' %}" class="btn btn-warning">Log Off</a>
					</div>
	  </div>
	</div>

	<br />
	<br />

  <div>
    <div class="container">
			<div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12">
					 <a href="{% url 'alumno:lista_profesores' %}" class="btn btn-squared-default btn-warning btn-block">
						<i class="fa fa-pencil fa-5x"></i>
						<br />
						Buscar Asesoria
						</a>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="{% url 'alumno:calendario' num_semana %}" class="btn btn-squared-default btn-danger btn-block">
                <i class="fa fa-barcode fa-5x"></i>
                <br />
                Calendario
            </a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{% url 'alumno:historial' %}" class="btn btn-squared-default btn-warning btn-block">
                    <i class="fa fa-mobile fa-5x"></i>
                    <br />
                    Historial
                </a>
					</div>

        <div class="col-lg-4 col-md-6 col-sm-12">

							  <a href="{% url 'alumno:favoritos' %}"class="btn btn-squared-default btn-info btn-block">
									<i class="fa fa-bell fa-5x"></i>
									<br />
									Favoritos
							  </a>
					</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
                <a href="../chatbox" class="btn btn-squared-default-plain btn-success btn-block">
                    <i class="fa fa-laptop fa-5x"></i>
                    <br />
                    ChatBox
                </a>
					</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
                <a href="../ayuda" class="btn btn-squared-default-plain btn-info btn-block">
                    <i class="fa fa-compass fa-5x"></i>
                    <br />
                    Ayuda
                </a>
				</div>
        </div>
    </div>
		</div>
</div>
<div id="dropDownSelect1"></div>
{% endblock %}
