{% extends "alumno/base.html" %}
{%load staticfiles %}

{% block title %} <title> Asesorías </title>{% endblock %}

{% block body %}
	<div>
		<br />
	</div>
	<div class="container text-center">
		<div class= "row">
			<div>
				<a href="../home">
					<img margin-left="100" width="150" height="150" src="{% static 'images\logo.jpg' %}" />
				</a>
			</div>
			<div class = "col-sm-4">
				<br />
				<br />
				<h2 align-content: "center">Asesorias ULima</h2>
			</div>
			<div class = "col-sm-4">
				<br /><br />
				<p> Bienvenido {{usuario.nombre| upper}} </p>
				<p> ¿Que deseas hacer hoy? </p>
			</div>
					<div class = "col-sm-2">
						<a href="{% url 'alumno:log_out' %}" class="btn btn-warning">Log Off</a>
					</div>
	  </div>
	</div>

	<br />
	<br />

  <div>
    <div class="container">
      <h4>LISTA DE PROFESORES</h4>
			<br>
			<div class="form-group">
		    <label for="exampleInputEmail1">Buscar Profesor</label>
		    <input type="text" class="form-control" placeholder="Ingrese el nombre del profesor" oninput="buscarProfesor(this.value)">
		  </div>
      <br>
			{% if var1 %}
				<div style="color:red;">YA HA SIDO ELEGIDA ESA ASESORÍA</div>
			{% endif %}
      <ul id="lista_profesores">
        {% for profesor in profesores %}
            <li class={{profesor.nombrepProfesor}}>
              <div class="row">
                <p class="col-4">Nombre:

									<a href="{% url 'alumno:perfil_profesor' profesor.pk %}" ><u>{{profesor.nombrepProfesor}}</u></a>

								</p>
                <p class="col-4">Correo: {{profesor.email}}</p>
                <p class="col-4">Código: {{profesor.codigoUlima}}</p>
              </div>
              <table>
								<tr>
									<th>Curso</th>
									<th colspan="2">Fecha y Hora</th>
									<th>Lugar</th>
									<th>Acción</th>
								</tr>
                {% for asesoria in profesor.asesoria_set.all %}
								{{asesoria.added}}
									<tr>
								    <td>{{asesoria.codCurso.nombreCurso}}</td>
								    <td>{{asesoria.fechaAsesoria}}</td>
										<td>{{asesoria.horaInicio|time:'H:i'}}</td>
								    <td>{{asesoria.lugar.lugar}}</td>
										<td>
											<a href="{% url 'alumno:agregar_cita' asesoria.pk %}" class="btn btn-info" >Seleccionar</a>
											<a href="{% url 'alumno:agregar_favorito' asesoria.pk %}" class="btn btn-warning" >Favorito</a>
										</td>
								  </tr>
                {% endfor%}
							</table>
            </li>
            <hr>
        {% endfor %}
      </ul>
    </div>
	</div>
</div>


<div id="dropDownSelect1"></div>

{% endblock %}

{% block extra_js %}

<script>
	function buscarProfesor(value){
		var children = $("#lista_profesores li")
		children.each( function (li){
			var atttribute = children[li].className.startsWith(value) ? 'block' : 'none'
			children[li].setAttribute('style', "display: " + atttribute)
		})
	}

</script>

{% endblock %}
